/* Clear margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */


/* main style */
html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Navigation Bar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    color: #46474C;
    justify-content: space-between;
    z-index: 1;
    padding: 0.5rem;
}

.logo img {
    height: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    transition: 0.3s ease-out;
}

.logo img:hover {
    margin-left: 2.2rem;
    transition: 0.3s;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    font-size: 0.8rem;
    color: #46474C;
    padding: 2px;
    margin-left: 2px;
    margin-right: 0.75rem;
    transition: border 0.2s linear;
}

#navbar ul li a:hover {
    border: 1px solid #ff953e;
    border-radius: 5px;
    transition: border 0.2s linear;
}

/* Header : Section */
#showcase {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 11px;
    padding-bottom: 5rem;
    max-width: 1000px;
}

.column1 img {
    transform: rotate(-90deg);
    height: 2.5rem;
    margin-top: 8rem;
    margin-right: -6rem;
    transition: 2s ease-out;
}

.column1 img:hover {
    margin-top: 14rem;
    transition: 1.5s;
}


.column2 {
    background-color: #46474C;
    position: relative;
    height: 25rem;
    color:#46474C;
}


.column3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #46474C;
    padding: 0 0 0 5rem;
}

.column3 h1 {
    font-family: 'Abril Fatface';
    font-size: 3rem;
}

.code {
    animation-name: code;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.create {
    animation-name: create;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.cultivate {
    animation-name: cultivate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.column3 p, a {
    font-family: 'Open Sans Condensed';
    max-width: 30rem;
    animation-name: column3-p;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.button {
    color: #46474C;
    border-radius: 5px;
    display: inline-block;
    width: fit-content;
    transition: 0.3s ease-out;
}

.button i {
    color: #46474C;
}

.button:hover {
    margin-left: 0.2rem;
    transition: 0.3s;
}

/* Section: About Me */
#about {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.columna {
    background: #46474C;
    color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.8);
    font-family: 'Open Sans Condensed';
    max-width: 15rem;
    padding: 1rem;
    padding-right: 1.5;
    margin-top: 2rem;
    margin-right: -3rem;
    height: 30rem;
    z-index: 1;
}

.columna .quote {
    font-size: 0.8rem;
}

.columna a {
    background: #ff953e;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    color: white;
    transition: 0.3s;
    animation-name: columna;
    animation-duration: 3s;
}

.columna a:hover {
    margin-left: 0.75rem;
    transition: 0.3s;
}

#about img {
    max-height: 40rem;
}

/* Section: Portolfio */
#portfolio {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans Condensed';
    background: #F5F5F5;
}

.portfolio2 {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.portfolioA {
    display: flex;
}

.portfolioA-text {
    max-width: 15rem;
    margin: 1rem 1rem 0 1rem;
}
.portfolioA img {
    max-height: 5rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-right: 6rem;
    transition: 0.3s ease-out;
}

.portfolioA img:hover {
    max-height: 6rem;
    transition: 0.3s;
}

.portfolio-right {
    display: flex;
}

.skills {
    display: flex;
    flex-direction: column;
    background: #46474C;
    max-height: 15rem;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
}
.skills h3 {
    color: #ff953e;
    margin-bottom: 1rem;
}

.skills ul {
    list-style: none;
}

.portfolio-head {
    font-family: 'Open Sans Condensed';
    color: #46474C;
    max-width: 15rem;
    padding: 2rem;
    text-align: right;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.icons i {
    color: #46474C;
    margin-left: 0.5rem;
}

/* Section: Contact */
#contact {
    font-family: 'Open Sans Condensed';
    display: flex;
    justify-content: center;
}

.contact-text {
    max-width: 25rem;
    color: #46474C;
    margin-top: 2rem;
    padding: 1rem;
}

.contact-icons i {
    margin: 0.3rem;
}


/* Animations */
@keyframes code {
    0% {
        margin-left: 30rem;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes create {
    0% {
        margin-left: 30rem;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes cultivate {
    0% {
        margin-left: 30rem;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes column3-p {
    0% {
        margin-top: 30rem;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}


/* Footer */
#main-footer {
    font-family: 'Open Sans Condensed';
    font-size: 0.7rem;
    text-align: center;
    color: #46474C;
    padding: 0, 0.5rem;
}